:root {
    --base-font-size: 16px;
    --main-deep-blue: rgb(18, 43, 64);
    --hover-blue: rgb(10, 25, 37);
    --main-font-color: rgb(72, 238, 221);

}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--base-font-size);
    background: linear-gradient(rgb(35, 36, 36), rgb(17, 19, 19));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--main-font-color);
    padding: 10px;
}

header {
    background: linear-gradient(rgb(26, 68, 102), rgb(12, 31, 47));
    border: solid 2px white;
    box-shadow: 0px 4px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    padding: 1rem;
}

/* Headers */

    /* My Name */

h1 { 
    padding-left: 20px;
}

    /* Section Headers */

h2 {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    font-size: 40px;
}

    /* About Me Title */

h3 {
    font-size: 30px;
    color: white;
}

    /* Latest Work Title */

h4 {
    font-size: 30px;
    padding: 20px;
    color: white;
}

/* Navigation Bar */

ul {
    display: flex;
    list-style-type: none;
    margin: 10px;
}
li {
    padding: 10px;
    font-size: 20px;
}
li:hover {
    background-color:var(--hover-blue);
    border-radius: 10px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

/* Resume Photo and About Me Section */

.about-me-container {
    background: linear-gradient(rgb(26, 68, 102), rgb(12, 31, 47));
    height: auto;
    width: auto;
    padding: 30px;
    box-shadow: 0px 5px 10px black;
    border-radius: 17px;
    margin: 20px;
}

#resume-pic {
    height: 250px;
    width: 370px;
    float: left;
    padding-right: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px; 
}

#about-me-text {
    text-align: left;
    color: white;
}

/* Latest Work Section */

.latest-work-container {
    background: linear-gradient(rgb(26, 68, 102), rgb(12, 31, 47));
    position:relative;
    border: solid 2px white;
    border-radius: 17px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px black;
    width: 100%; 
    max-width: 1000px;
    margin: 0 auto;
}

#latest-work {
    display: flex;
    width: auto;
    height: auto;
}

.latest-work-img {
    display: flex;
    justify-content: center;
    border-radius: 17px;
    width: 100%; 
    max-width: 600px;
}

.latest-work-img:hover {
    box-shadow: 0 0 10px 5px rgb(64, 217, 207);
}

.latest-work-text-block {
    position: absolute;
    width: 300px;
    height: 50px;
    text-align: center;
    bottom: 20px;
    right: 20px;
    background-color: var(--hover-blue );
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 17px;
    box-shadow: 0px 4px 5px black;
    width: 100%; 
    max-width: 400px; 
    right: auto;
  }

  .latest-work-description {
    text-align: left;
    padding: 20px;
    color: white;
    position: relative;
  }

  /* Other Work Section */

.other-work {
    height: 100%;
    display: flex;
    background: linear-gradient(rgb(26, 68, 102), rgb(12, 31, 47));
    border-radius: 17px;

}

#work-1 {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 185px;
    border: solid 2px white;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    margin: 10px auto;
}

#work-1-img {
    border-radius: 17px;
    height: 250px;
    width: 400px;
}

#work-2 {
    margin-top: 30px;
    margin-right: 20px;
    border: solid 2px white;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    margin: 10px auto;
}

#work-2-img {
    border-radius: 17px;
    height: 250px;
    width: 400px;
}

#work-3 {
    margin-top: 30px;
    border-radius: 20px;
    border: solid 2px white;
    height: 400px;
    width: 400px;
    margin-bottom: 30px;
    margin: 10px auto;
}

#work-3-img {
    border-radius: 20px;
    height: 250px;
    width: 400px;
}

.other-work-img:hover {
    box-shadow: 0 0 10px 5px rgb(64, 217, 207);
}

.text-block-other {
    position: relative;
    text-align: center;
    background-color: var(--hover-blue );
    color: white;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border-radius: 17px;
    bottom: 55px;
    box-shadow: 0px 4px 5px black;
  }


/* Footer */

.footer-contact-me {
        font-size: 20px;
        display: flex;
        color: var(--main-font-color);
        width: 60px;
        flex-wrap: none;
        font-size: 1rem;
        text-align: center;
}

.contact-links {
    display: flex;
    border: solid 2px;
    border-radius: 20px;
    justify-content: center;
    color: white;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto;
}

.contact-links:hover {
    background-color: var(--main-deep-blue);
}

/* Media Queries */

    /* Phone Screens */

@media screen and (max-width: 480px) {

    body {
        font-size: 14px;
    }

    header {
        padding: 0.5rem;
    }

    .latest-work-container {
        width: 80%; 
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    #latest-work {
        flex-direction: column;
    }
    
    .latest-work-text-block {
        position:relative;
        display: flex;
        justify-content: center;
        width: 70%; 
        max-width: 350px; 
        top: 1%;
        left: 1%; 
        font-size: 15px;
    }

    .latest-work-description {
        display:flex;
        justify-content: center;
        font-size: 17px;
    }

    h4 {
        text-align: center;
        position: relative;
        top: 20px;
        margin: inherit;
    }

    .other-work {
        height: 100%;
        display: flex;
        border-radius: 17px;
        flex-direction: column;
    
    }
    
    .footer-contact-me {
        padding-left: 10px;
        padding-top: 5px;
        font-size: 1.5rem;
        flex-direction: column;
    }

}

     /* Small Screens */

@media screen and (max-width: 600px) {

    body {
        font-size: 14px;
    }

    header {
        padding: 0.5rem;
    }

    .latest-work-container {
        width: 80%; 
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    #latest-work {
        flex-direction: column;
    }
    
    .latest-work-text-block {
        position:relative;
        display: flex;
        justify-content: center;
        width: 87%; 
        max-width: 350px; 
        top: 1%;
        left: 1%; 
        font-size: 17px;
    }

    .latest-work-description {
        display:flex;
        justify-content: center;
        font-size: 17px;
    }

    h4 {
        text-align: center;
        position: relative;
        top: 20px;
        margin: inherit;
    }

    .other-work {
        height: 100%;
        width: 100%;
        display: flex;
        border-radius: 17px;
        flex-direction: column;
    
    }

    .footer-contact-me {
        padding-left: 10px;
        padding-top: 5px;
        font-size: 1.5rem;
        flex-direction: column;
    }

}

    /* Medium Screens */

@media screen and (min-width: 601px) and (max-width: 1024px) {

    header {
        padding: 0.5rem;
    }
    
    .other-work {
        flex-direction: column;
    }

    h4 {
        text-align: center;
        position: relative;
        top: 20px;
        margin: inherit;
    }

    .latest-work-container {
        width: 80%; 
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    #latest-work {
        display:flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .latest-work-img {
        height: 300px; 
        max-width: 900px; 
    }

    .latest-work-text-block {
        position:relative;
        bottom: 200px;
        display: flex;
        justify-content: center;
        width: 85%; 
        top: 1%;
        left: 2.5%;
        font-size: 18px;
    }

    .latest-work-description {
        display:flex;
        justify-content: center;
        font-size: 17px;
    }

    .footer-contact-me {
        flex-wrap: none;
        padding-left: 10px;
        font-size: 1.5rem; 
        flex-direction: column;
    }

}
    /* Large Screens */

@media screen and (min-width: 1025px) {

    h4 {
        text-align: center;
        position: relative;
        top: 20px;
        margin: inherit;
    }

    .latest-work-container {
        display: flex;
    }

    .latest-work-description {
        display: flex;
        position: relative;
        font-size: 18px;
    }

    .other-work {
        width: 100%;
        padding: 10px;
    }

   .footer-contact-me {
        padding-left: 10px;
        font-size: 1.5rem;
    }
}    